#Installations

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark


import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
print("Sucessful")

Sucessful

In [ ]:
from pyspark import SparkContext
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
from functools import reduce
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import pandas as pd
import numpy as np

import re
import string

from pandas.io.json import json_normalize
from pyspark.sql.functions import explode, flatten
print("Sucessful")
import json

Sucessful



# Mount Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Preprocessing Data with Pandas

##Reviews data preprocessing

### Read JSON data and load it in an object

In [ ]:
#Read JSON data and load it in an object
with open('/content/drive/My Drive/Data Science Stuff/Hotel Recommender/Data/reviews.json') as datafile:
    data_json = json.load(datafile)

###Normalize JSON data using Pandas

In [ ]:
#Normalize JSON data using Pandas
df_reviews_pd = pd.json_normalize(data_json)
df_reviews_pd.head()

                                             title  ... ratings.business_service_(e_g_internet_access)
0        “Truly is "Jewel of the Upper Wets Side"”  ...                                            NaN
1                        “My home away from home!”  ...                                            NaN
2                                     “Great Stay”  ...                                            NaN
3                             “Modern Convenience”  ...                                            NaN
4  “Its the best of the Andaz Brand in the US....”  ...                                            NaN

[5 rows x 24 columns]

###View the data frame structure

In [ ]:
#Getting data structure/info
df_reviews_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878561 entries, 0 to 878560
Data columns (total 24 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   title                                           878561 non-null  object
 1   text                                            878561 non-null  object
 2   date_stayed                                     810973 non-null  object
 3   offering_id                                     878561 non-null  int64
 4   num_helpful_votes                               878561 non-null  int64
 5   date                                            878561 non-null  object
 6   id                                              878561 non-null  int64
 7   via_mobile                                      878561 non-null  bool
 8   ratings.service                                 760918 non-null  float64
 9   ratings.cleanliness                             759835 non-null  float64
 10  ratings.overall                                 878561 non-null  float64
 11  ratings.value                                   753695 non-null  float64
 12  ratings.location                                664904 non-null  float64
 13  ratings.sleep_quality                           500903 non-null  float64
 14  ratings.rooms                                   705404 non-null  float64
 15  author.username                                 878561 non-null  object
 16  author.num_cities                               613968 non-null  float64
 17  author.num_helpful_votes                        653980 non-null  float64
 18  author.num_reviews                              801438 non-null  float64
 19  author.num_type_reviews                         515610 non-null  float64
 20  author.id                                       878561 non-null  object
 21  author.location                                 878561 non-null  object
 22  ratings.check_in_front_desk                     99784 non-null   float64
 23  ratings.business_service_(e_g_internet_access)  65729 non-null   float64
dtypes: bool(1), float64(13), int64(3), object(7)
memory usage: 155.0+ MB

###Drop redundent columns

In [ ]:
df_reviews_pd = df_reviews_pd.drop(columns=['date_stayed', 'num_helpful_votes', 'date', 'via_mobile', 'ratings.service', 'ratings.cleanliness', 'ratings.value', 'ratings.location', 'ratings.sleep_quality', 'ratings.rooms', 'author.num_cities', 'author.num_helpful_votes', 'author.num_reviews', 'author.num_type_reviews', 'author.location', 'ratings.check_in_front_desk', 'ratings.business_service_(e_g_internet_access)', 'author.username'])

###Rename columns

In [ ]:
df_reviews_pd = df_reviews_pd.rename(columns={"ratings.overall":"overall_rating", "author.id" : "author_id"})
df_reviews_pd.head()

                                             title  ...                         author_id
0        “Truly is "Jewel of the Upper Wets Side"”  ...  8C0B42FF3C0FA366A21CFD785302A032
1                        “My home away from home!”  ...  E3C85CA9DBBBC77E0DB534ABE93E4713
2                                     “Great Stay”  ...  FB1032DECE1162CB3556D05F278AAFFD
3                             “Modern Convenience”  ...  EC3E275EE7590694889C8C7EE0D13961
4  “Its the best of the Andaz Brand in the US....”  ...  BA524A238B1171206691A6CC3F28F266

[5 rows x 6 columns]

###Removing Null values

####Check if we have any nan values

In [ ]:
df_reviews_pd.isna().sum()

title             0
text              0
offering_id       0
id                0
overall_rating    0
author_id         0
dtype: int64

In [ ]:
df_reviews_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878561 entries, 0 to 878560
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   title           878561 non-null  object
 1   text            878561 non-null  object
 2   offering_id     878561 non-null  int64
 3   id              878561 non-null  int64
 4   overall_rating  878561 non-null  float64
 5   author_id       878561 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 40.2+ MB

####Checking if our data has ' ' empty strings

In [ ]:
#returns the rows which has some empty string
df_reviews_pd[df_reviews_pd == ''].count()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

title                 0
text                  0
offering_id           0
id                    0
overall_rating        0
author_id         77066
dtype: int64

####Replace empty string ' ' with nan in whole data

In [ ]:
df_reviews_pd.replace('', np.nan, inplace=True)
#If you want to replace only in specific column
#df_reviews_pd['author_id'].replace('', np.nan, inplace=True)

####Now we have nan values as we replaced ' ' with nan

In [ ]:
df_reviews_pd.isna().sum()

title                 0
text                  0
offering_id           0
id                    0
overall_rating        0
author_id         77066
dtype: int64

In [ ]:
df_reviews_pd.count()

title             878561
text              878561
offering_id       878561
id                878561
overall_rating    878561
author_id         801495
dtype: int64

####Drop the rows which contain nan

In [ ]:
df_reviews_pd.dropna(inplace=True)

####Now we have clean data without any ' ' or nan

In [ ]:
df_reviews_pd.count()

title             801495
text              801495
offering_id       801495
id                801495
overall_rating    801495
author_id         801495
dtype: int64

###Viewing final DF Structure

In [ ]:
df_reviews_pd.info()
df_reviews_pd.count()
# df_reviews_pd.isnull().sum()
# df_reviews_pd.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 801495 entries, 0 to 878560
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   title           801495 non-null  object
 1   text            801495 non-null  object
 2   offering_id     801495 non-null  int64
 3   id              801495 non-null  int64
 4   overall_rating  801495 non-null  float64
 5   author_id       801495 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 42.8+ MB

title             801495
text              801495
offering_id       801495
id                801495
overall_rating    801495
author_id         801495
dtype: int64

##Offering data preprocessing

### Read JSON data and load it in an object

In [ ]:
#Read JSON data and load it in an object
with open('/content/drive/My Drive/Data Science Stuff/Hotel Recommender/Data/offering.json') as datafileoffering:
    data_offering_json = json.load(datafileoffering)

###Normalize JSON data using Pandas

In [ ]:
df_offering_pd = pd.json_normalize(data_offering_json)
df_offering_pd.head()

   hotel_class  region_id  ... address.postal-code address.locality
0          4.0      60763  ...               10036    New York City
1          5.0      32655  ...               90048      Los Angeles
2          3.5      60763  ...               10019    New York City
3          4.0      60763  ...               10019    New York City
4          4.0      60763  ...               10036    New York City

[5 rows x 12 columns]

###View the data frame structure

In [ ]:
df_offering_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4333 entries, 0 to 4332
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   hotel_class             3141 non-null   float64
 1   region_id               4333 non-null   int64
 2   url                     4333 non-null   object
 3   phone                   4333 non-null   object
 4   details                 0 non-null      object
 5   type                    4333 non-null   object
 6   id                      4333 non-null   int64
 7   name                    4333 non-null   object
 8   address.region          4333 non-null   object
 9   address.street-address  4331 non-null   object
 10  address.postal-code     4303 non-null   object
 11  address.locality        4333 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 406.3+ KB

###Drop redundent columns

In [ ]:
df_offering_pd = df_offering_pd.drop(columns=['hotel_class', 'region_id', 'url', 'phone', 'details', 'type', 'address.region', 'address.street-address', 'address.postal-code', 'address.locality'])
df_offering_pd.head()

       id                                             name
0  113317                    Casablanca Hotel Times Square
1   76049  Four Seasons Hotel Los Angeles at Beverly Hills
2   99352                   Hilton Garden Inn Times Square
3   93589                           The Michelangelo Hotel
4  217616                          The Muse Hotel New York

###Rename columns

In [ ]:
df_offering_pd = df_offering_pd.rename(columns={"name":"hotel_name", "id" : "hotel_id"})

In [ ]:
df_offering_pd.head()

   hotel_id                                       hotel_name
0    113317                    Casablanca Hotel Times Square
1     76049  Four Seasons Hotel Los Angeles at Beverly Hills
2     99352                   Hilton Garden Inn Times Square
3     93589                           The Michelangelo Hotel
4    217616                          The Muse Hotel New York

###Removing Null values

####Check if we have any nan values

In [ ]:
df_offering_pd.isna().sum()

hotel_id      0
hotel_name    0
dtype: int64

####Checking if our data has ' ' empty strings

In [ ]:
df_offering_pd[df_offering_pd == ''].count()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

hotel_id      0
hotel_name    0
dtype: int64


###Viewing final DF Structure

In [ ]:
# df_offering_pd.info()
# df_offering_pd.count()
# df_offering_pd.isnull().sum()
df_offering_pd.head()

   hotel_id                                       hotel_name
0    113317                    Casablanca Hotel Times Square
1     76049  Four Seasons Hotel Los Angeles at Beverly Hills
2     99352                   Hilton Garden Inn Times Square
3     93589                           The Michelangelo Hotel
4    217616                          The Muse Hotel New York

##Merging Data frames with Pandas

In [ ]:
df_merged = pd.merge(df_reviews_pd, df_offering_pd, how='left', left_on='offering_id', right_on='hotel_id')

In [ ]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 801495 entries, 0 to 801494
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   title           801495 non-null  object
 1   text            801495 non-null  object
 2   offering_id     801495 non-null  int64
 3   id              801495 non-null  int64
 4   overall_rating  801495 non-null  float64
 5   author_id       801495 non-null  object
 6   hotel_id        801495 non-null  int64
 7   hotel_name      801495 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 55.0+ MB

In [ ]:
df_merged.isna().sum()

title             0
text              0
offering_id       0
id                0
overall_rating    0
author_id         0
hotel_id          0
hotel_name        0
dtype: int64

In [ ]:
df_merged[df_merged == ''].count()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

title             0
text              0
offering_id       0
id                0
overall_rating    0
author_id         0
hotel_id          0
hotel_name        0
dtype: int64

###Dropping redundant columns

In [ ]:
df_merged.drop(columns=['offering_id'])

                                                  title  ...                              hotel_name
0             “Truly is "Jewel of the Upper Wets Side"”  ...                            Hotel Beacon
1                             “My home away from home!”  ...                            Hotel Beacon
2                                          “Great Stay”  ...                        Andaz 5th Avenue
3                                  “Modern Convenience”  ...                        Andaz 5th Avenue
4       “Its the best of the Andaz Brand in the US....”  ...                        Andaz 5th Avenue
...                                                 ...  ...                                     ...
801490                                 “Enthousiasmant”  ...  Palomar Washington DC, a Kimpton Hotel
801491                                 “Nos encanto...”  ...  Palomar Washington DC, a Kimpton Hotel
801492                                 “ottimo albergo”  ...  Palomar Washington DC, a Kimpton Hotel
801493                                      “excellent”  ...  Palomar Washington DC, a Kimpton Hotel
801494            “Nuevo... novísimo. Estupendo lugar.”  ...  Palomar Washington DC, a Kimpton Hotel

[801495 rows x 7 columns]

###Rearranging the columns

In [ ]:
df_merged = df_merged.reindex(columns=['id', 'overall_rating', 'hotel_id', 'hotel_name','title', 'text', 'author_id',])

In [ ]:
df_merged.head()

          id  ...                         author_id
0  147643103  ...  8C0B42FF3C0FA366A21CFD785302A032
1  147639004  ...  E3C85CA9DBBBC77E0DB534ABE93E4713
2  147697954  ...  FB1032DECE1162CB3556D05F278AAFFD
3  147625723  ...  EC3E275EE7590694889C8C7EE0D13961
4  147612823  ...  BA524A238B1171206691A6CC3F28F266

[5 rows x 7 columns]

###Sorting Columns

In [ ]:
df_merged.sort_values(by=['id', 'hotel_id'], ascending=True, inplace=True)
df_merged.head(10)

            id  ...                         author_id
675509  683156  ...  C0FE2026E16771D2C3322BB705FCA690
268288  692745  ...  8C17DDA718DC7815A1B9ADDD9592EED3
661797  692780  ...  75EACF34E876B736647E8EAE0D9318B7
402255  692844  ...  35FBC6EA978B4AE51536F1150F32C6AC
329375  692847  ...  5BE26753AC8336073525BC3819BA4D44
546777  692892  ...  E01681A50DC19FFA18D84EC84718D867
8936    692980  ...  38078EB1B0712938414B432CBA458F66
192670  693626  ...  8916B7F8AA251A7BDA27F5A1BC153D6F
727145  693665  ...  F1EA76EBC9C5783D922FD61D32697FBD
418481  693714  ...  889CA24F3FADE263B4FA96976AD441C1

[10 rows x 7 columns]

#Data Testing

In [ ]:
# !pip install langdetect

In [ ]:
# from langdetect import detect

In [ ]:
# df_merged['Languagereveiw'] = df_merged['text'].apply(detect)
# df_merged[df_merged.text.apply(lambda x : detect(x))=='en']

In [ ]:
# df_merged[df_merged.id == '147801697'].head()

##Downloading the cleaned data

In [ ]:
# df_merged.to_json("/content/drive/My Drive/Data Science Stuff/Hotel Recommender/Data/merged.json", orient="records")

In [ ]:
df_merged.sort_values(by=['text'], ascending=False, inplace=True)
df_merged.head(10)

               id  ...                         author_id
393098  118469617  ...  BAD8F794E6055A84B9F935F29DD3D04A
307305   79205728  ...  2D9982954B3D19CE51A86D90AFCCF328
675128  135648138  ...  7A5AFF5D8B936AFD97C40E047B64FA58
655423  123677205  ...  98B84FBC9A653F1D2C66AF0177F1F432
208051   62733521  ...  2A1718A0837433FC8B6EAFD0DDA87595
344846  114871537  ...  EE6E78042C9342A007554D930AE21B08
143602   45786094  ...  02D60DACB188F821071A304A806D3056
141612   89623232  ...  77FA484F573B9E3DCBDF7D21D85F54C3
466477   39063544  ...  30D1AF68F40F56D059D5A8CC469469BE
143581   49029469  ...  8B08E7D0C6DB573A423BC8589476A57D

[10 rows x 7 columns]

In [ ]:
df_merged['text'] = df_merged['text'].str.encode('ascii', 'ignore').str.decode('ascii')

In [ ]:
df_merged.head()

               id  ...                         author_id
393098  118469617  ...  BAD8F794E6055A84B9F935F29DD3D04A
307305   79205728  ...  2D9982954B3D19CE51A86D90AFCCF328
675128  135648138  ...  7A5AFF5D8B936AFD97C40E047B64FA58
655423  123677205  ...  98B84FBC9A653F1D2C66AF0177F1F432
208051   62733521  ...  2A1718A0837433FC8B6EAFD0DDA87595

[5 rows x 7 columns]